<div class="container-fluid filter-container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 filter-right-side">
            <div class="float-right">
                <button pButton type="button" icon="pi pi-filter" data-toggle="modal" (click)="largeModal.show()"></button>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" #addFilterForm="ngForm" >

                    <h6 class="status">Status</h6>
                    <div class="container"> 
                        <div class="ui-g row form-group" style="width:auto; margin-bottom:10px">
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox class="form-control" name="group1" value="Completed" label="Completed" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="completed"></p-checkbox>
                            </div>                            
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group2" class="form-control" value="Created" label="Created" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="created"></p-checkbox>
                            </div>                            
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Error" label="Error" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="error"></p-checkbox>
                            </div>
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Exited" label="Exited" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="exited"></p-checkbox>
                            </div> 
                        </div>

                        <div class="ui-g row form-group" style="width:auto; margin-bottom:10px">
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Failed" label="Failed" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="failed"></p-checkbox>
                            </div>                            
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control"  value="InProgress" label="InProgress" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="inprogress"></p-checkbox>
                            </div>
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control"  value="Obsolete" label="Obsolete" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="obsolete"></p-checkbox>
                            </div>                            
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Ready" label="Ready" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="ready"></p-checkbox>
                            </div>
                        </div>

                        <div class="ui-g row form-group" style="width:auto; margin-bottom:10px">
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Reserved" label="Reserved" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="reserved"></p-checkbox>
                            </div>
                            <div class="ui-g-12 col-sm-3">
                                <p-checkbox name="group1" class="form-control" value="Suspended" label="Suspended" [ngModelOptions]="{standalone: true}" [(ngModel)]="status" inputId="suspended"></p-checkbox>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h6 class="filterby">Filter By</h6>
                    <div class="container">
                        <div class="ui-g row form-group" style="width:auto;">
                            
                            <p-dropdown class="form-control" style="height:48px;" [options]="cars" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCar" value="selectedCar" inputId="selectedCar" [style]="{'width':'150px'}">
                                
                                <ng-template let-car pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                                        <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                    </div>
                                </ng-template>
                            
                            </p-dropdown>
                            <p class="d-none">{{selectedCar || 'Id'}}</p>
                            
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>.
                        <button type="button" class="btn btn-primary" (click)="onSubmit(addFilterForm)">Apply</button>
                    </div>

                </form>
            </div>           
    
        </div><!-- /.modal-content -->
    
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->