@import 'survey';

.sv_row>.sv_p_container,
.sv_panel_dynamic>.sv_p_container {
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  margin-bottom: 0.5rem
}

.sv_panel_dynamic>.sv_p_container {
  padding-bottom: 2rem;
}

.sv_main .sv_p_root>.sv_row:nth-child(even) {
  background-color: transparent;
}

.sv_main .sv_panel_dynamic {
  position: relative;

  input[value="Elimina"] {
    color: white;
    background-color: #dc3545;
    left: 1rem;
    bottom: 15px;
    position: absolute;

    &:hover {
      background-color: #c82333;
    }
  }

  input[value="Aggiungi riga"] {
    color: white;
    left: 8rem;
    bottom: 15px;
    position: absolute;

  }
}

.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
  font-weight: normal;
}

.sv_q_file>.sv_q_file_remove_button {
  margin-top: 0.5rem !important;
}

.sv_q_file_input {
  line-height: normal !important;
  border: 0 !important;
}

.survey-container p {
  margin-bottom: 0 !important;
}

.sv_main .sv_p_root>.sv_row {
  border: 0;
  margin-top: 0.5rem;
}

.sv_q_matrix_dynamic {
  input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]) {
    border: 0;
    color: #6d7072;
    background-color: white;
    padding-left: 0 !important;
  }
}
